.index {
  .head {
    width: max-content;
    position: relative;
    margin-bottom: 40px;
    h1 {
      color: $pr-dark-color;
    }
    .line {
      position: absolute;
      width: 100vw;
      bottom: -10px;
      left: 0;
      height: 6px;
      border-radius: 5px 0px 0px 5px;
      background-color: $sc-color;
      .inner {
        width: 50px;
        height: 6px;
        background-color: $pr-color;
        position: absolute;
        left: 0;
        border-radius: 5px;
      }
    }
  }
  .content {
    padding: 50px 0;
    justify-content: space-between;
  }

  .hero {
    position: relative;
    width: 100vw;
    background: linear-gradient(200deg, $pr-color 0%, darken($pr-color, 15) 100%);
    justify-content: flex-end;
    img {
      margin-top: 150px;
      margin-bottom: -3px;
      width: 100%;
    }
  }

  .services-web {
    background-color: #f5f5f5;
    .content {
      gap: 50px;
      .right {
        max-width: 650px;
        min-width: 300px;
      }
    }
  }

  .services-all {
    .imgs {
      margin-top: 30px;
      gap: 20px;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(4, 1fr);
      img {
        width: 100%;
        min-width: 100px;
      }
    }
  }
}
