.index {
  .head {
    width: max-content;
    position: relative;
    margin-bottom: 40px;
    h1 {
      color: $pr-dark-color;
    }
    .line {
      position: absolute;
      width: 100vw;
      bottom: -10px;
      left: 0;
      height: 4px;
      border-radius: 5px 0px 0px 5px;
      background-color: $sc-color;
      .inner {
        width: 50px;
        height: 4px;
        background-color: $pr-color;
        position: absolute;
        left: 0;
        border-radius: 5px;
      }
    }
  }
  .content {
    padding: 50px 0;
    justify-content: space-between;
  }

  .hero {
    position: relative;
    width: 100vw;
    background: linear-gradient(200deg, $pr-color 0%, darken($pr-color, 15) 100%);
    justify-content: flex-end;
    img {
      margin-top: 150px;
      margin-bottom: -3px;
      width: 100%;
    }
  }

  .services-web {
    background-color: #f5f5f5;
    .content {
      gap: 50px;
      .right {
        max-width: 650px;
        min-width: 300px;
      }
    }
  }

  .services-all {
    .imgs {
      margin-top: 30px;
      gap: 20px;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(4, 1fr);
      img {
        width: 100%;
        min-width: 100px;
      }
    }
  }

  .why {
    background-color: #f5f5f5;

    .boxs {
      margin-top: 30px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      .box {
        gap: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 20px;
        background-color: $sc-color;
        border-radius: 8px;

        img {
          width: auto;
          height: 200px;
        }
        h3 {
          color: $pr-dark-color;
        }
      }
    }
  }
}

.portfolio {
  .slider {
    .img {
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain; /* Resize the background image to cover the entire container */
    }
    .slick-list {
      margin: 0 0px;
    }
    .slick-slide {
      transition: all 0.3s;
      scale: 0.9;
    }
    .slick-center {
      scale: 1;
    }
    .slick-arrow {
      z-index: 100;
      scale: 1.5;
      &::before {
        opacity: 1;
        color: $pr-color;
      }
    }
  }
}
